@font-face {
    font-family: "Univers";
    src: url('/fonts/UniversLTStd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Univers Bold";
    src: url('/fonts/UniversLTStd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Zurich Light Italic";
    src: url('/fonts/Zurich\ Light\ Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Univers", Verdana, sans-serif;
    background-color: rgb(253, 253, 253);
}

mark {
    background-color: rgb(255,238,4);
    color: black;
    font-size: 1.3em;
  }



header {
    background-color: rgb(255,238,4);
    position: fixed;
    width: 100%;
    height: 61px;
    top: 0;
    left: 0;
    overflow: hidden;
}

header h3 {
    padding-top: 0px;
    padding-left: 20px;
    float: left;
    z-index: 1;
}

nav {
    padding-top: 19px;
    padding-right: 20px;
    float: right;
    z-index: 2;
    vertical-align: 100%;
    width: 50px;
}

header a {
    text-decoration: none;
    color: black;
    vertical-align:top;
}

header a:hover {
    font-style: italic;
}




section {
    max-width: 900px;
    padding-left: 6vw;
    padding-right: 6vw;
    margin: 122px auto 100px auto;
    box-sizing: border-box important!;
}

section#about ul {
    list-style-type:lower-roman;
}

section#agenda ul {
    list-style-type: none;
}

blockquote {
    margin-right: 150px;
    font-style: italic;
}



section h2{
    margin: 0px 20px 20px 20px;
}

div.event {
    padding: 15px 0 ;
}

section img#badge {
    width: 8vh;
    margin-left: 40px;
    margin-right: 0;
    padding-left: auto;
    padding-right: auto;
    float: right;
    position: fixed;
    bottom:0px;
    z-index: 1;
    right: 0px;
}

section img.poster {
    width: 40vw;
    max-width: 300px;
    box-sizing:view-box;
}

section img.poster:hover, img.poster:active {
    width: 70vw;
    max-width: 300px;
    box-sizing: border-box;
}

section img#bouwhelm {
    max-width: 150px;
}

.tekst {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

footer {
    position: fixed;
    padding: 0px 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

footer {
    background-color: rgb(253, 253, 253);
    color:black;
    border-top: 2px;
    border-style:solid none none none;
}

footer a {
    text-decoration: none;
    color: black;
}

footer blockquote {
    text-align: right;
    position: fixed;
    bottom: 0px;
    right:88px;
    width: 396px;
    max-width: 1000px;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-right: 10px ;
}

footer div.hide {
    float: left;
} 

.extraindent {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 940px) {
    footer blockquote {
        display: none;
    }
}

@media (max-width: 600px) {

    /* header { 
        height: 90px;
    }
    */
    header a {
        font-size: 15px;
    }

    /* 
    header div#logo {
        width: 100%;
        margin-bottom: -500px;
        overflow: auto;
    }
    header nav {
        float: left;
        margin-top:35px;
    }
    */
    footer {
        font-size: 14px;
    }

    footer div.hide{
        display: none;
    }
}
